Source: neat-stuff
Section: net
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@iem.uni-due.de>
Homepage: https://www.neat-project.org
Build-Depends: cmake (>= 3.0.2) | cmake3,
               debhelper (>= 9),
               fonts-dejavu,
               fonts-noto-cjk,
               fonts-noto-hinted,
               ghostscript,
               gimp,
               graphicsmagick,
               gsfonts,
               libfile-fcntllock-perl,
               libimage-exiftool-perl,
               python3
Standards-Version: 4.4.0.1
Vcs-Git: https://bitbucket.org/dreibh/neat-stuff.git
Vcs-Browser: https://bitbucket.org/dreibh/neat-stuff/tags

Package: neat-management
Architecture: all
Depends: apt-file,
         apt-show-versions,
         bash-completion,
         bc,
         bridge-utils,
         btrfs-progs | btrfs-tools,
         bwm-ng,
         colordiff,
         cron,
         cron-apt,
         eatmydata,
         ethtool,
         git,
         gpm,
         hping3,
         htop,
         idn,
         ifupdown,
         ipsec-tools,
         joe,
         libfile-fcntllock-perl,
         libneat-examples,
         libneat-socketapi-examples,
         lksctp-tools,
         lsb-base (>= 3.2-14),
         mlocate,
         net-tools,
         netperfmeter,
         nmap,
         ntpdate,
         reiserfsprogs,
         reprepro,
         rsplib-docs,
         rsplib-services,
         rsplib-tools,
         smartmontools,
         snmp,
         software-properties-common,
         subnetcalc,
         tcpdump,
         tftp,
         traceroute,
         tree,
         virt-what,
         vlan,
         whois,
         xz-utils (>= 5.2.0) | pxz,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: apport-retrace,
            grub2-common,
            language-pack-de-base,
            language-pack-en-base,
            language-pack-nb-base,
            tshark,
            update-motd
Description: NEAT Management Tools
 This metapackage contains basic software for NEAT system management.
 The software installed provides a common working environment.
 .
 See https://www.neat-project.org for details on NEAT!

Package: neat-development
Architecture: all
Depends: autoconf,
         automake,
         bc,
         bison,
         clang,
         cmake (>= 3.0.2) | cmake3,
         createrepo,
         debhelper,
         devscripts,
         docker.io,
         flex,
         fonts-dejavu,
         fonts-noto-cjk,
         fonts-noto-hinted,
         gdb,
         ghostscript,
         gnupg,
         gnuplot,
         graphicsmagick,
         gsfonts,
         kernel-package,
         libbz2-dev,
         libcpprspserver-dev,
         libcurl4-openssl-dev,
         libglib2.0-dev,
         libimage-exiftool-perl,
         libneat-dev,
         libneat-docs,
         libneat-socketapi-dev,
         libpcap-dev,
         librsplib-dev,
         libsctp-dev,
         libssl-dev,
         libtool,
         mock,
         neat-management (= ${binary:Version}),
         pbuilder,
         pkg-config,
         python3-all,
         quilt,
         r-base,
         r-cran-ggplot2,
         r-cran-hmisc,
         rpm,
         sysvbanner,
         valgrind,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: ubuntu-dev-tools
Description: NEAT Development Tools
 This meta-package contains basic software for NEAT development.
 The software installed provides a common working environment.
 .
 See https://www.neat-project.org for details on NEAT!

Package: neat-desktop
Architecture: all
Depends: firefox | firefox-esr,
         kubuntu-desktop | neon-desktop | kde-standard | deepin-desktop-environment | lubuntu-desktop | ubuntu-desktop,
         neat-management (= ${binary:Version}),
         sddm | kdm | lightdm | gdm3,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: fractgen
Description: NEAT Desktop
 This meta-package contains the scripts to configure a NEAT desktop.
 .
 See https://www.neat-project.org for details on NEAT!
